.content-cards{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.content-cards .card{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px var(--shadow); 
}

.content-cards .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}

.content-cards .card .cardName{
    color: var(--dark-gray);
    font-size: 1.1rem;
    margin-top: 5px;
}

.content-cards .card .iconCard{
    color: var(--dark-gray);
    font-size: 3.5rem;
}

.content-cards .card:hover{
    background: var(--blue);
}

.content-cards .card:hover .numbers,
.content-cards .card:hover .cardName,
.content-cards .card:hover .iconCard{
    color: var(--white);
}
