.btn{
    padding: 7px;
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-register{
    background: var(--blue);
    &:hover{
        background: var(--blue-hover);
    }
}

.btn-update{
    background: var(--green);
    &:hover{
        background: var(--green-hover);
    }
}

.btn-delete{
    background: var(--red);
    &:hover{
        background: var(--red-hover);
    }
}

.header-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.header-table h2{
    color: var(--blue);
}

.TableContent{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px 20px 0 20px;
    box-shadow:  0 7px 25px var(--shadow);
    border-radius: 20px;
    margin: 20px;
}

.cell-status{
    padding: 4px;
    border-radius: 5px;
    color: var(--white);
}

.up-date{
    background: var(--up-date);
}

.pending{
    background: var(--pending);
}